
body {
    width: 100%;
    text-align: center;
    font-family: marmelad, arial;
}

#container {
    width: 100%;
    margin: auto;
    max-width: 1000px;
}

h2 {
    margin-top: 40px;
}

img {
    border: solid 1px #389cff;
}